@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary: #2397F1ED;
  --primary-soft: #f0f0f0;
  --soft-success: #8eecf5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  background-color: var(--primary-soft);
  overflow: scroll;
  overflow-x: hidden;
}

.bg-pri {
  background-color: var(--primary) !important;
}

.bg-primary-soft {
  background-color: var(--primary-soft) !important;
}

.bg-soft-success {
  background-color: var(--soft-success) !important;
}

.text-pri {
  color: var(--primary);
}

.outline-pri {
  border: 1px solid var(--primary);
}

.header {
  position: sticky;
  top: 0.5rem;
  z-index: 2000;
}

.navigation {
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.logo{
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 2005;
}

@media screen and (max-width: 990px) {
  .navigation {
    position: fixed;
    width: 300px;
    z-index: 2001;
    background-color: #ffffff;
    margin-left: -100%;
  }
}

.list-group-item:hover{
  background-color: var(--primary);
  color: white;
}

.user-img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-card {
  border: none;
  transition: 0.3s;
}

.status-card:hover {
  transform: scale(1.03) translateY(-3px);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.status-card:active {
  transform: scale(0.95);
}

.image img {
  width: 40px;
  border-radius: 50%;
}

.image img:nth-child(2) {
  margin-left: -15px;
}
.image img:nth-child(3) {
  margin-left: -15px;
}
.image img:nth-child(4) {
  margin-left: -15px;
}
.image img:nth-child(5) {
  margin-left: -15px;
}

.item-card img {
  height: 200px;
}

.item-card-carousel {
  margin-top: -90px;
}

.my-table tr {
  transition: 0.5s;
  cursor: pointer;
}

.my-table tr:active {
  transform: scale(1.02);
}

.button-active:active {
  border-color: var(--primary);
}
.button-active:hover {
  border-color: var(--primary);
}
.button-active:focus {
  border-color: var(--primary);
}

.full-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2005;
}

table tr td {
  vertical-align: middle;
}

.front-panel-right-side {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

.card-hover {
  transition: all 0.5s;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3) !important;
}

.ptitle:hover {
  text-decoration: underline;
}

.custom-dropdown {
  transform: translate(570px, 40px) !important;
}
